{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
add post
{% endblock %}

{% block title %}
add post
{% endblock %}

{% block body %}
<form action="{% url 'movie:add_post' %}" method="POST"  enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group mt-4 mb-3">
    <h2 class="text-light text-center bg-info w-100 p-3">ADD POST</h2>

  </div>
  <div class="form-group">
    <label for="title">title</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
  <div class="form-group">
    <label for="slug">slug</label>
    <input type="text" class="form-control" id="slug" name="slug">
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" class="form-control" id="image" name="image">
  </div>
  <div class="form-group">
    <label for="desc">description</label>
    <input type="text-area" class="form-control" id="desc" name="desc">
  </div>
  <div class="form-group">
    <label for="release_date">release_date</label>
    <input type="date" class="form-control" id="release_date" name="release_date">
  </div>
   <div class="form-group">
    <label for="actors">actors</label>
    <input type="text" class="form-control" id="actors" name="actors">
  </div>
    <div class="form-group">
<!--      <label for="category">category</label>-->
<!--    <input type="text" class="form-control" id="category" name="category" placeholder="Action Comedy Thriller">-->
    <div class="form-check">
  <input class="form-check-input" type="radio" name="category_id " id="exampleRadios1" value="1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Action
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="category_id " id="exampleRadios2" value="2">
  <label class="form-check-label" for="exampleRadios2">
    Comedy
  </label>
</div>
      <div class="form-check">
  <input class="form-check-input" type="radio" name="category_id " id="exampleRadios3" value="3">
  <label class="form-check-label" for="exampleRadios3">
    Thriller
  </label>
</div>

  </div>
    <div class="form-group">
    <label for="youtube_link">youtube link</label>
    <input type="url" class="form-control" id="youtube_link" name="youtube_link">
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}