{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
register
{% endblock %}

{% block title %}
register
{% endblock %}

{% block body %}
<form action="{% url 'credentials:register' %}" method="POST">
  {% csrf_token %}
  <div class="form-group mt-4 mb-3">
    <h2 class="text-secondary bg-info w-50 p-3">Registration Form</h2>
      <p>Aleady have an account ? <button><a class="dropdown-item" href="{% url 'credentials:login' %}">Login now</a></button> </p>
    <label for="first_name">First name</label>
    <input type="text" class="form-control" id="first_name" name="first_name">
  </div>
  <div class="form-group">
    <label for="last_name">Last name</label>
    <input type="text" class="form-control" id="last_name" name="last_name">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <div class="form-group">
    <label for="cpassword">Confirm Password</label>
    <input type="password" class="form-control" id="cpassword" name="cpassword">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}

{% endblock %}